.app_wrapper{
    display: grid;
   grid-template-areas: " user header"
                         "list chat";

    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
    margin: 10px;
}


.app_user{
    grid-area: user;
}
.app_header{
    grid-area: header;
}

.app_list{
    grid-area: list;
}

.app_chat{
    grid-area: chat;
}

